@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina De Inicio";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reports/Index">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index">Gestion Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Bills/Index">Gestion Facturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Employees/Index">Gestion Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Customers/Index">Gestion Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Brands/Index">Gestion Marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/DetailBills/Index">Gestion Detalles de Facturas</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="text-center">
    <h1 class="display-4">Bienvenido Usuario</h1>
    <p>Visita Nuestras redes sociales <a href="#">Aqui</a>.</p>
</div>
