@page
@model ContabilidadMRC.Pages.Reports.IncomeByDateModel
@{
    ViewData["Title"] = "IncomeByDate";
}

<h1>Ingresos por fecha</h1>

<div>
    <a asp-page="Index">Volver a Inicio de Reportes</a>
</div>