@page
@model ContabilidadMRC.Pages.Reports.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-block-flex flex-sm-column">
            <ul class="navbar-nav flex-grow-1 flex-column">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reports/StockSoldOut">Productos agotados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reports/ExpirationDate">Productos por vencer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reports/BestSellers">Productos más vendidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Reports/IncomeByDate">Ingresos por fecha</a>
                </li>
            </ul>
        </div>
    </div>
</nav>